# --- FRONTEND (React/Vite) ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# --- BACKEND (Python/Django) ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3
staticfiles/
media/

# --- OS & Editor ---
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?